n8n_workflows/NEW_CLIENT_ASSESSMENT_TEMPLATE_WITH_RESEND_HARDCODED.json
{
  "name": "New Client Assessment Workflow (With Resend)",
  "nodes": [
    {
      "parameters": {
        "path": "new-assessment",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook_assessment",
      "name": "Assessment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "new-client-assessment"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Start execution timer and logging\nconst startTime = new Date();\nconst executionId = $execution.id;\n\nreturn [{\n  json: {\n    execution_id: executionId,\n    timestamp_start: startTime.toISOString(),\n    workflow_name: 'assessment_with_resend',\n    webhook_path: $json.path || '/new-assessment',\n    source_ip: $json.headers['x-forwarded-for'] || $json.headers['x-real-ip'] || 'unknown',\n    user_agent: $json.headers['user-agent'] || 'unknown'\n  }\n}];"
      },
      "id": "start_timer",
      "name": "Start Timer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        500
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract and validate assessment data from webhook body\nconst data = $json.body;\n\nconst assessmentData = {\n  // Part 1: Business Overview\n  companyName: data.company_name || '',\n  industry: data.vertical || '',\n  companyDescription: data.company_description || '',\n  companySize: data.company_size || '',\n  \n  // Part 2: Strategic Goals\n  strategicPriorities: data.strategic_priorities || '',\n  operationalBottlenecks: data.operational_bottlenecks || '',\n  departmentsOfInterest: data.departments_of_interest || [],\n  \n  // Part 3: Technical Landscape\n  crmPlatform: data.crm_platforms?.[0] || '',\n  communicationPlatforms: data.communication_platforms || [],\n  projectManagement: data.project_management_platforms?.[0] || '',\n  otherPlatforms: '',\n  knowledgeBaseStatus: data.knowledge_base_status || '',\n  apiExperience: data.api_experience || '',\n  \n  // Part 4: AI Goals\n  aiCapabilities: data.ai_capabilities || [],\n  automationTask: data.key_automation_task || '',\n  \n  // Contact Info\n  contactName: data.name || '',\n  contactEmail: data.email || '',\n  contactPhone: data.phone || '',\n  \n  // Keep original data for reference\n  assessmentId: data.assessment_id,\n  submittedAt: data.submitted_at || new Date().toISOString(),\n  source: 'jeweledtech.com/input-form'\n};\n\nreturn assessmentData;"
      },
      "id": "validate_data",
      "name": "Validate Assessment Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1a1b3f5d-0b1e-4b1e-8e1e-1e1e1e1e1e1e",
              "leftValue": "={{ $json.contactEmail }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "regex",
                "rightType": "any"
              }
            },
            {
              "id": "2b2c4f6e-1c2f-5c2f-9f2f-2f2f2f2f2f2f",
              "leftValue": "={{ $json.companyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "3c3d5f7f-2d3g-6d3g-ag3g-3g3g3g3g3g3g",
              "leftValue": "={{ $json.industry }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "4d4e6f8g-3e4h-7e4h-bh4h-4h4h4h4h4h4h",
              "leftValue": "={{ $json.contactName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "id": "validate_required_fields",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Validation failed\",\n  \"message\": \"Required fields are missing or invalid. Please check: company name, industry, contact name, and email format.\",\n  \"missing_fields\": [\n    {{ $json.companyName ? '' : '\"company_name\"' }},\n    {{ $json.industry ? '' : '\"industry\"' }},\n    {{ $json.contactName ? '' : '\"contact_name\"' }},\n    {{ $json.contactEmail && $json.contactEmail.match(/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/) ? '' : '\"valid_email\"' }}\n  ].filter(field => field !== '').join(', ')\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "validation_error_response",
      "name": "Validation Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        550,
        500
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "enhanced_assessments",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "company_name",
              "fieldName": "company_name",
              "fieldValue": "={{ $json.companyName }}"
            },
            {
              "fieldId": "vertical",
              "fieldName": "vertical",
              "fieldValue": "={{ $json.industry }}"
            },
            {
              "fieldId": "company_size",
              "fieldName": "company_size",
              "fieldValue": "={{ $json.companySize }}"
            },
            {
              "fieldId": "company_description",
              "fieldName": "company_description",
              "fieldValue": "={{ $json.companyDescription }}"
            },
            {
              "fieldId": "strategic_priorities",
              "fieldName": "strategic_priorities",
              "fieldValue": "={{ $json.strategicPriorities }}"
            },
            {
              "fieldId": "operational_bottlenecks",
              "fieldName": "operational_bottlenecks",
              "fieldValue": "={{ $json.operationalBottlenecks }}"
            },
            {
              "fieldId": "departments_of_interest",
              "fieldName": "departments_of_interest",
              "fieldValue": "={{ $json.departmentsOfInterest }}"
            },
            {
              "fieldId": "crm_platforms",
              "fieldName": "crm_platforms",
              "fieldValue": "={{ $json.crmPlatform }}"
            },
            {
              "fieldId": "communication_platforms",
              "fieldName": "communication_platforms",
              "fieldValue": "={{ $json.communicationPlatforms }}"
            },
            {
              "fieldId": "project_management_platforms",
              "fieldName": "project_management_platforms",
              "fieldValue": "={{ $json.projectManagement }}"
            },
            {
              "fieldId": "knowledge_base_status",
              "fieldName": "knowledge_base_status",
              "fieldValue": "={{ $json.knowledgeBaseStatus }}"
            },
            {
              "fieldId": "api_experience",
              "fieldName": "api_experience",
              "fieldValue": "={{ $json.apiExperience }}"
            },
            {
              "fieldId": "ai_capabilities",
              "fieldName": "ai_capabilities",
              "fieldValue": "={{ $json.aiCapabilities }}"
            },
            {
              "fieldId": "key_automation_task",
              "fieldName": "key_automation_task",
              "fieldValue": "={{ $json.automationTask }}"
            },
            {
              "fieldId": "name",
              "fieldName": "name",
              "fieldValue": "={{ $json.contactName }}"
            },
            {
              "fieldId": "email",
              "fieldName": "email",
              "fieldValue": "={{ $json.contactEmail }}"
            },
            {
              "fieldId": "phone",
              "fieldName": "phone",
              "fieldValue": "={{ $json.contactPhone }}"
            },
            {
              "fieldId": "consent",
              "fieldName": "consent",
              "fieldValue": "=true"
            }
          ]
        }
      },
      "id": "save_to_supabase",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase JeweledTech"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.jeweledtech.com/workflow/trigger",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-workflow/1.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  use_case: 'assessment_analysis',\n  department: ($node['Validate Assessment Data'].json.departmentsOfInterest[0] || 'Sales').toLowerCase().replace(/ /g, '_'),\n  workflow_type: 'assessment_analysis',\n  timestamp: new Date().toISOString(),\n  data: {\n    assessment_id: $node['Validate Assessment Data'].json.assessmentId,\n    company_name: $node['Validate Assessment Data'].json.companyName,\n    vertical: $node['Validate Assessment Data'].json.industry,\n    departments: $node['Validate Assessment Data'].json.departmentsOfInterest,\n    priorities: $node['Validate Assessment Data'].json.strategicPriorities,\n    bottlenecks: $node['Validate Assessment Data'].json.operationalBottlenecks,\n    tools: {\n      crm: $node['Validate Assessment Data'].json.crmPlatform,\n      communication: $node['Validate Assessment Data'].json.communicationPlatforms,\n      project_management: $node['Validate Assessment Data'].json.projectManagement\n    },\n    ai_goals: $node['Validate Assessment Data'].json.aiCapabilities,\n    automation_needs: $node['Validate Assessment Data'].json.automationTask,\n    contact: {\n      name: $node['Validate Assessment Data'].json.contactName,\n      email: $node['Validate Assessment Data'].json.contactEmail,\n      phone: $node['Validate Assessment Data'].json.contactPhone\n    }\n  }\n}) }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
          },
          "response": {
            "fullResponse": false,
            "followRedirect": true,
            "followAllRedirects": false,
            "maxRedirects": 5
          },
          "ignoreHttpStatusErrors": false
        }
      },
      "id": "solutions_architect",
      "name": "Solutions Architect Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "notes": "Enhanced HTTP Request node to replace Function node fetch() call with proper error handling, retries, and timeout configuration"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"JeweledTech <admin@jeweledtech.com>\",\n  \"to\": [\"{{ $node['Validate Assessment Data'].json.contactEmail }}\"],\n  \"subject\": \"Your AI Workforce Assessment - {{ $node['Validate Assessment Data'].json.companyName }}\",\n  \"html\": \"<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'>\\n  <h2 style='color: #333;'>Thank you for your assessment!</h2>\\n  \\n  <p>Hi {{ $node['Validate Assessment Data'].json.contactName }},</p>\\n  \\n  <p>We've received your AI workforce assessment for <strong>{{ $node['Validate Assessment Data'].json.companyName }}</strong> and our AI Solutions Architect is analyzing your requirements.</p>\\n  \\n  <h3 style='color: #666;'>What happens next:</h3>\\n  <ol>\\n    <li>Our AI analyzes your specific needs and challenges</li>\\n    <li>We prepare a custom implementation plan</li>\\n    <li>You'll receive a detailed proposal within 24 hours</li>\\n  </ol>\\n  \\n  <p style='background-color: #f5f5f5; padding: 15px; border-left: 4px solid #0066cc;'>\\n    <strong>Your workflow ID:</strong> {{ $json.workflow_id }}<br>\\n    <strong>Status:</strong> {{ $json.status }}\\n  </p>\\n  \\n  <p>If you have any immediate questions, feel free to reply to this email.</p>\\n  \\n  <p>Best regards,<br>\\n  <strong>The JeweledTech AI Team</strong></p>\\n  \\n  <hr style='margin-top: 40px; border: none; border-top: 1px solid #eee;'>\\n  <p style='font-size: 12px; color: #999;'>Assessment ID: {{ $node['Validate Assessment Data'].json.assessmentId }}</p>\\n</div>\",\n  \"reply_to\": \"admin@jeweledtech.com\"\n}",
        "options": {}
      },
      "id": "send_followup_resend",
      "name": "Send Follow-up Email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "resend_api",
          "name": "Resend API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Prepare final response\nconst assessmentData = $node[\"Validate Assessment Data\"].json;\nconst supabaseResult = $node[\"Save to Supabase\"].json;\nconst agentResult = $node[\"Solutions Architect Agent\"].json;\n\nreturn {\n  success: true,\n  assessmentId: assessmentData.assessmentId,\n  company: assessmentData.companyName,\n  message: \"Assessment received and processed successfully. Check your email for next steps.\",\n  savedToDatabase: true,\n  workflowId: agentResult.workflow_id,\n  status: agentResult.status,\n  nextSteps: [\n    'Our AI team will analyze your requirements',\n    'You will receive a detailed proposal within 24 hours',\n    'A demo environment will be prepared for your use case'\n  ]\n};"
      },
      "id": "prepare_response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.jeweledtech.com/monitoring/workflow-execution",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Workflow-Source",
              "value": "n8n-assessment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  execution_id: $node['Start Timer'].json.execution_id,\n  workflow_name: 'assessment_with_resend',\n  timestamp_start: $node['Start Timer'].json.timestamp_start,\n  timestamp_end: new Date().toISOString(),\n  duration_ms: new Date() - new Date($node['Start Timer'].json.timestamp_start),\n  status: 'completed',\n  assessment_id: $node['Validate Assessment Data'].json.assessmentId,\n  company_name: $node['Validate Assessment Data'].json.companyName,\n  email_sent: true,\n  crewai_triggered: true,\n  data_saved: true,\n  source_ip: $node['Start Timer'].json.source_ip,\n  user_agent: $node['Start Timer'].json.user_agent\n}) }}",
        "options": {
          "timeout": 5000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          },
          "ignoreHttpStatusErrors": true
        }
      },
      "id": "log_execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1450,
        300
      ],
      "continueOnFail": true,
      "alwaysOutputData": false
    }
  ],
  "connections": {
    "Assessment Webhook": {
      "main": [
        [
          {
            "node": "Validate Assessment Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start Timer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Assessment Data": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Solutions Architect Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solutions Architect Agent": {
      "main": [
        [
          {
            "node": "Send Follow-up Email (Resend)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up Email (Resend)": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "new-client-assessment-resend"
  },
  "pinData": {}
}