n8n_workflows/PHASE5_PROPOSAL_APPROVAL_WEBHOOK.json
{
  "name": "Phase 5: Proposal Approval Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "proposal-approved",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook_approval",
      "name": "Proposal Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "proposal-approval"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "tableId": "solution_proposals",
        "id": "={{ $json.body.proposal_id }}",
        "additionalFields": {}
      },
      "id": "get_proposal",
      "name": "Get Proposal Details",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase JeweledTech"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "enhanced_assessments",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "assessment_id",
              "keyValue": "={{ $json.assessment_id }}",
              "condition": "equals"
            }
          ]
        }
      },
      "id": "get_assessment",
      "name": "Get Assessment Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase JeweledTech"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Generate final approved proposal HTML with personalization\nconst proposal = $node['Get Proposal Details'].json;\nconst assessment = $node['Get Assessment Data'].json[0] || {};\nconst approvalData = $node['Proposal Approval Webhook'].json.body;\n\n// Extract proposal content from JSON\nconst proposalContent = typeof proposal.proposal_content === 'string' \n  ? JSON.parse(proposal.proposal_content) \n  : proposal.proposal_content;\n\nconst htmlTemplate = `\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body {\n            font-family: 'Arial', sans-serif;\n            line-height: 1.6;\n            color: #333;\n            margin: 0;\n            padding: 0;\n        }\n        .container {\n            max-width: 800px;\n            margin: 0 auto;\n            padding: 40px 20px;\n        }\n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            padding: 40px;\n            text-align: center;\n            margin: -40px -20px 40px -20px;\n        }\n        .approval-banner {\n            background: #10b981;\n            color: white;\n            padding: 15px;\n            text-align: center;\n            font-weight: bold;\n            margin: -40px -20px 20px -20px;\n        }\n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n        }\n        h1 {\n            margin: 0;\n            font-size: 32px;\n        }\n        h2 {\n            color: #667eea;\n            margin-top: 30px;\n        }\n        .company-info {\n            background: #f8f9fa;\n            padding: 20px;\n            border-radius: 8px;\n            margin-bottom: 30px;\n        }\n        .pricing-box {\n            background: #e7f3ff;\n            padding: 25px;\n            border-radius: 8px;\n            margin: 30px 0;\n            border: 2px solid #667eea;\n            text-align: center;\n        }\n        .pricing-box h3 {\n            color: #667eea;\n            font-size: 24px;\n            margin: 0 0 10px 0;\n        }\n        .price {\n            font-size: 36px;\n            font-weight: bold;\n            color: #333;\n        }\n        .timeline {\n            background: #f0fdf4;\n            padding: 20px;\n            border-radius: 8px;\n            margin: 20px 0;\n            border-left: 4px solid #10b981;\n        }\n        .cta {\n            background: #667eea;\n            color: white;\n            padding: 20px 40px;\n            text-align: center;\n            text-decoration: none;\n            border-radius: 5px;\n            display: inline-block;\n            margin: 20px 0;\n            font-size: 18px;\n            font-weight: bold;\n        }\n        .footer {\n            margin-top: 50px;\n            padding-top: 20px;\n            border-top: 1px solid #ddd;\n            text-align: center;\n            color: #666;\n            font-size: 14px;\n        }\n        ul {\n            padding-left: 20px;\n        }\n        li {\n            margin-bottom: 10px;\n        }\n        .highlight {\n            background: #fef3c7;\n            padding: 2px 6px;\n            border-radius: 3px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"approval-banner\">\n            ✅ PROPOSAL APPROVED - Ready for Implementation\n        </div>\n        \n        <div class=\"header\">\n            <div class=\"logo\">JeweledTech AI</div>\n            <h1>Your Approved AI Workforce Proposal</h1>\n            <p>Custom Implementation Plan for ${proposal.company_name}</p>\n        </div>\n        \n        <div class=\"company-info\">\n            <h2>Executive Summary</h2>\n            <p>Dear ${assessment.name || 'Team'},</p>\n            <p>We're excited to move forward with your AI workforce implementation. This approved proposal outlines your custom solution designed to address your specific needs in the <strong>${assessment.vertical}</strong> industry.</p>\n            \n            <h3>Your Key Objectives:</h3>\n            <ul>\n                <li><strong>Strategic Priorities:</strong> ${assessment.strategic_priorities}</li>\n                <li><strong>Operational Challenges:</strong> ${assessment.operational_bottlenecks}</li>\n                <li><strong>Primary Goal:</strong> ${assessment.key_automation_task}</li>\n            </ul>\n        </div>\n        \n        <div class=\"section\">\n            <h2>Your Custom AI Workforce Solution</h2>\n            ${proposalContent.result || proposalContent.proposal || 'Detailed implementation plan included'}\n        </div>\n        \n        <div class=\"pricing-box\">\n            <h3>Investment & Timeline</h3>\n            <div class=\"price\">$${assessment.company_size === '1000+' ? '75,000' : assessment.company_size === '500-1000' ? '50,000' : '35,000'}</div>\n            <p>One-time implementation + Monthly maintenance</p>\n            <p><strong>Implementation Timeline:</strong> ${assessment.company_size === '1000+' ? '8-10' : assessment.company_size === '500-1000' ? '6-8' : '4-6'} weeks</p>\n        </div>\n        \n        <div class=\"timeline\">\n            <h3>Implementation Phases</h3>\n            <ol>\n                <li><strong>Week 1-2:</strong> Discovery & Architecture Design</li>\n                <li><strong>Week 3-4:</strong> AI Agent Development & Integration</li>\n                <li><strong>Week 5-6:</strong> Testing & Optimization</li>\n                <li><strong>Week 7-8:</strong> Training & Go-Live</li>\n            </ol>\n        </div>\n        \n        <div class=\"section\">\n            <h2>Included in Your Package</h2>\n            <ul>\n                <li>Custom AI agents for ${assessment.departments_of_interest.join(', ')} departments</li>\n                <li>Integration with ${[assessment.crm_platforms, ...assessment.communication_platforms].filter(Boolean).join(', ')}</li>\n                <li>24/7 monitoring and support for 90 days</li>\n                <li>Team training and documentation</li>\n                <li>Quarterly optimization reviews</li>\n            </ul>\n        </div>\n        \n        <div class=\"section\" style=\"text-align: center; margin: 40px 0;\">\n            <h2>Ready to Transform Your Business?</h2>\n            <p>This proposal has been approved by ${approvalData.admin_email} and is ready for immediate implementation.</p>\n            \n            <a href=\"https://calendly.com/jeweledtech/implementation-kickoff\" class=\"cta\">\n                Schedule Implementation Kickoff\n            </a>\n            \n            <p style=\"margin-top: 20px;\">Or reply to this email with any final questions.</p>\n        </div>\n        \n        <div class=\"footer\">\n            <p><strong>Proposal Valid Until:</strong> ${new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toLocaleDateString()}</p>\n            <p>JeweledTech AI | admin@jeweledtech.com | Assessment ID: ${proposal.assessment_id}</p>\n            <p style=\"margin-top: 20px; font-size: 12px;\">This proposal was approved on ${new Date(approvalData.approved_at).toLocaleDateString()} by your account manager.</p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    proposalHtml: htmlTemplate,\n    proposalId: proposal.id,\n    assessmentId: proposal.assessment_id,\n    companyName: proposal.company_name,\n    contactEmail: proposal.contact_email,\n    contactName: assessment.name || proposal.contact_name,\n    approvedBy: approvalData.admin_email,\n    approvedAt: approvalData.approved_at\n  }\n}];"
      },
      "id": "generate_approved_html",
      "name": "Generate Approved Proposal HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  source: $json.proposalHtml,\n  landscape: false,\n  format: 'A4',\n  margin: '20px',\n  filename: `approved_proposal_${$json.assessmentId}.pdf`\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "generate_approved_pdf",
      "name": "Generate Approved PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "pdfshift_api",
          "name": "PDFShift API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $env.FROM_EMAIL || 'JeweledTech <admin@jeweledtech.com>' }}\",\n  \"to\": [\"{{ $node['Generate Approved Proposal HTML'].json.contactEmail }}\"],\n  \"cc\": [\"{{ $node['Proposal Approval Webhook'].json.body.admin_email }}\"],\n  \"subject\": \"✅ Your AI Workforce Proposal is Approved - {{ $node['Generate Approved Proposal HTML'].json.companyName }}\",\n  \"html\": \"<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'>\\n  <div style='background: #10b981; color: white; padding: 20px; text-align: center; margin-bottom: 20px;'>\\n    <h2 style='margin: 0;'>🎉 Great News! Your Proposal is Approved!</h2>\\n  </div>\\n  \\n  <p>Hi {{ $node['Generate Approved Proposal HTML'].json.contactName }},</p>\\n  \\n  <p>Fantastic news! Your custom AI workforce proposal for <strong>{{ $node['Generate Approved Proposal HTML'].json.companyName }}</strong> has been approved and is ready for implementation.</p>\\n  \\n  <div style='background-color: #f0fdf4; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #10b981;'>\\n    <h3 style='color: #065f46; margin-top: 0;'>What's Next?</h3>\\n    <ol style='margin: 10px 0;'>\\n      <li><strong>Review the attached approved proposal</strong> with complete pricing and timeline</li>\\n      <li><strong>Schedule your implementation kickoff call</strong> using the link below</li>\\n      <li><strong>Prepare your team</strong> for the AI transformation journey</li>\\n    </ol>\\n  </div>\\n  \\n  <p><strong>Your approved proposal is attached as a PDF.</strong> This includes all implementation details, pricing, and timeline specific to your requirements.</p>\\n  \\n  <div style='text-align: center; margin: 40px 0;'>\\n    <a href='https://calendly.com/jeweledtech/implementation-kickoff' style='background: #667eea; color: white; padding: 15px 40px; text-decoration: none; border-radius: 5px; display: inline-block; font-size: 18px; font-weight: bold;'>Schedule Implementation Kickoff</a>\\n  </div>\\n  \\n  <p>I'm excited to begin this transformation journey with you! Feel free to reply with any questions or call me directly at (555) 123-4567.</p>\\n  \\n  <p>Best regards,<br>\\n  <strong>Your JeweledTech AI Success Team</strong></p>\\n  \\n  <hr style='margin-top: 40px; border: none; border-top: 1px solid #eee;'>\\n  <p style='font-size: 12px; color: #999;'>\\n    Proposal approved by: {{ $node['Proposal Approval Webhook'].json.body.admin_email }}<br>\\n    Approval date: {{ new Date($node['Proposal Approval Webhook'].json.body.approved_at).toLocaleDateString() }}<br>\\n    Assessment ID: {{ $node['Generate Approved Proposal HTML'].json.assessmentId }}\\n  </p>\\n</div>\",\n  \"reply_to\": \"{{ $env.REPLY_TO_EMAIL || 'admin@jeweledtech.com' }}\",\n  \"attachments\": [\n    {\n      \"filename\": \"Approved_AI_Proposal_{{ $node['Generate Approved Proposal HTML'].json.companyName.replace(/ /g, '_') }}.pdf\",\n      \"content\": \"{{ $node['Generate Approved PDF'].data }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send_approved_proposal",
      "name": "Send Approved Proposal Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "resend_api",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "operation": "create",
        "type": "note",
        "contactId": "={{ $node['Get Proposal Details'].json.hubspot_contact_id }}",
        "metadata": {
          "body": "=Proposal APPROVED by {{ $node['Proposal Approval Webhook'].json.body.admin_email }}\\n\\nApproval Date: {{ new Date($node['Proposal Approval Webhook'].json.body.approved_at).toLocaleString() }}\\n\\nApproved proposal PDF has been sent to the client.\\n\\nNext Steps:\\n- Client to schedule implementation kickoff\\n- Prepare project team\\n- Set up project management board",
          "subject": "Proposal Approved - Ready for Implementation"
        }
      },
      "id": "log_to_hubspot",
      "name": "Log to HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "hubspot_api",
          "name": "HubSpot Private App"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Prepare response\nconst emailResult = $node['Send Approved Proposal Email'].json;\nconst proposalData = $node['Generate Approved Proposal HTML'].json;\n\nreturn {\n  success: true,\n  message: 'Approved proposal sent successfully',\n  proposal_id: proposalData.proposalId,\n  company_name: proposalData.companyName,\n  contact_email: proposalData.contactEmail,\n  approved_by: proposalData.approvedBy,\n  approved_at: proposalData.approvedAt,\n  email_sent: emailResult ? true : false,\n  resend_id: emailResult?.id || null\n};"
      },
      "id": "prepare_response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1650,
        300
      ]
    }
  ],
  "connections": {
    "Proposal Approval Webhook": {
      "main": [
        [
          {
            "node": "Get Proposal Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Proposal Details": {
      "main": [
        [
          {
            "node": "Get Assessment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Assessment Data": {
      "main": [
        [
          {
            "node": "Generate Approved Proposal HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Approved Proposal HTML": {
      "main": [
        [
          {
            "node": "Generate Approved PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Approved PDF": {
      "main": [
        [
          {
            "node": "Send Approved Proposal Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approved Proposal Email": {
      "main": [
        [
          {
            "node": "Log to HubSpot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "phase5-proposal-approval"
  },
  "pinData": {}
}