n8n_workflows/production_health_check_simple.json
{
  "name": "Production Health Check - Main API (Simple)",
  "nodes": [
    {
      "parameters": {
        "path": "main-api",
        "httpMethod": "GET",
        "responseMode": "lastNode"
      },
      "id": "webhook_main_api",
      "name": "Main API Health Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "main-api-health"
    },
    {
      "parameters": {
        "url": "https://api.jeweledtech.com/status",
        "method": "GET",
        "options": {},
        "timeout": 10000
      },
      "id": "check_api_status",
      "name": "Check API Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const apiResponse = $input.all()[0].json;\nconst timestamp = new Date().toISOString();\n\n// Build professional health check response\nreturn [{\n  json: {\n    status: \"healthy\",\n    service: \"agentic-system-main-api\",\n    timestamp: timestamp,\n    checks: {\n      api_gateway: {\n        status: apiResponse.system_status === \"operational\" ? \"up\" : \"down\",\n        system_status: apiResponse.system_status\n      },\n      ai_agents: {\n        status: \"up\",\n        available_departments: apiResponse.agents?.available_departments || [],\n        architecture: apiResponse.architecture\n      },\n      knowledge_base: {\n        status: apiResponse.privategpt?.status === \"connected\" ? \"up\" : \"down\",\n        documents: apiResponse.privategpt?.documents || 0\n      }\n    },\n    version: \"1.0.0\",\n    environment: \"production\"\n  }\n}];"
      },
      "id": "format_health_response",
      "name": "Format Health Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Main API Health Check": {
      "main": [
        [
          {
            "node": "Check API Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Status": {
      "main": [
        [
          {
            "node": "Format Health Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "production"
  },
  "tags": [
    {
      "id": "monitoring",
      "name": "monitoring"
    },
    {
      "id": "production",
      "name": "production"
    }
  ]
}